<% if flash[:notice] %>
  <p class = "notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class = "alert"><%= flash[:alert] %></p>
<% end %>
<h1 class="title">レストラン一覧</h1>
<h1 class="title">絞り込み検索</h1>
<%= search_form_for @search do |f| %>
  <%= f.text_field :name_cont , placeholder: "キーワードを入力" %>
  <%= f.submit "検索" %>
<% end %>
<table class="box">
  <thead>
    <tr>
      <th>レストラン名</th>
      <th>カテゴリー</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant %></td>
      <td><%= restaurant.category %></td>
      <td><%= link_to "削除", restaurant, method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
<%= link_to "レストランの新規登録", new_restaurant_path, style: "margin:3%" %>
<% end %>
<%= link_to "ホーム画面に戻る", root_path, style: "margin:3%" %>
