<%= render 'layouts/flash_messages' %>
<h1 class="title">レストラン一覧(登録順)</h1>
<div class="sidemenu">
  <div class="sidemenu-contents">
    <h1 class="sidemenu-title">レストラン検索</h1>
    <%= search_form_for @search do |f| %>
      <%= f.text_field :name_cont , placeholder: "レストラン名を入力" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class="sidemenu-contents">
    <h1 class="sidemenu-title">レストランの新規登録</h1>
    <% if user_signed_in? %>
      <%= link_to "登録画面へ", new_restaurant_path, style: "text-decoration: none;" %>
    <% else %>
      <%= link_to "登録するにはログインしてください。", new_user_session_path, style: "text-decoration: none;" %>
    <% end %>
  </div>
</div>
<% if @restaurants.exists? %>
<table class="box">
  <thead>
    <tr>
      <th>レストラン名</th>
      <th>カテゴリー</th>
      <th>登録日</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant, style: "text-decoration: none;" %></td>
      <td><%= restaurant.category %></td>
      <td><%= l restaurant.created_at, format: :default %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h1 class="title">対象のレストランは存在しません。</h1>
<% end %>
<%= render 'layouts/home_link' %>
