<%= render 'layouts/flash_messages' %>
<div class="register">
  <h1 class="register-title">新規レストラン登録</h1>
  <%= form_with model: @restaurant do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="register-box">
  <table>
    <tr>
      <th><%= f.label :name , "レストラン名" %></th>
      <td><%= f.text_field :name, style: "width:80%" %></td>
    </tr>
    <tr>
      <th><%= f.label :category , "カテゴリー" %></th>
      <td>
        <%= f.select :category,
        [["ファストフード", "ファストフード"],
        ["ラーメン", "ラーメン"],
        ["そば・うどん", "そば・うどん"],
        ["カレー", "カレー"],
        ["丼もの", "丼もの"],
        ["中華", "中華"],
        ["寿司", "寿司"],
        ["その他", "その他"]],
        include_blank: "選択してください" %>
        </td>
    </tr>
  </table>
</div>
  <%= f.submit "登録", class: "btn btn-primary btn-custom" %>
  <% end %>
  <%= render 'layouts/home_link' %>
</div>

