<h1 class="title">レストラン詳細</h1>
<table class="box">
  <tr>
    <th>レストラン名</th>
    <td><%= @restaurant.name %></td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td><%= @restaurant.category %></td>
  </tr>
</table>
<h1 class="title">人気商品ランキングTOP5</h1>
<% @ranking.each.with_index(1) do |product, i| %>
<% if product.votes.count > 0 %>
<table class="box">
  <thead>
    <tr>
      <th>順位</th>
      <th>商品名</th>
      <th>投票数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>第<%= i %>位</td>
      <td><%= link_to product.name, product %></td>
      <td><%= product.votes.count %></td>
    </tr>
  </tbody>
</table>
<% end %>
<% end %>
<h1 class="title">商品一覧(登録順)</h1>
<table class="box">
  <thead>
    <tr>
      <th>商品名</th>
      <th>投票数</th>
    </tr>
  </thead>
  <tbody>
  <% @restaurant.products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %></td>
      <td><%= product.votes.count %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<% if user_signed_in? %>
  <%= form_with url: new_product_path do |f| %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
  <%= f.submit "商品を新規登録する", class: "btn btn-primary temp" %>
  <% end %>
<% else %>
  <%= link_to "商品を登録するにはログインしてください。", new_user_session_path %>
<% end %>
