<div class="sidemenu">
  <div class="sidemenu-contents">
  <h1 class="sidemenu-title">商品の新規登録</h1>
  <% if user_signed_in? %>
    <%= form_with url: new_product_path do |f| %>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
      <%= f.submit "登録画面へ", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= link_to "登録するにはログインしてください。", new_user_session_path %>
  <% end %>
  </div>
  <div class="sidemenu-contents">
    <%= link_to "ホーム画面に戻る", root_path %>
  </div>
</div>
<div class="detail">
  <h1 class="detail-title">レストラン詳細</h1>
  <div class="detail-box">
    <table>
      <tr>
        <th>レストラン名</th>
        <td><%= @restaurant.name %></td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td><%= @restaurant.category %></td>
      </tr>
      <tr>
      <th>登録日</th>
      <td><%= l @restaurant.created_at, format: :default %></td>
    </tr>
    </table>
  </div>
</div>
<% if @restaurant.products.exists? %>
<div class="detail">
  <h1 class="detail-title">人気商品ランキングTOP5</h1>
  <% @ranking.each.with_index(1) do |product, i| %>
  <table class="detail-box">
    <thead>
      <tr>
        <th>順位</th>
        <th>商品名</th>
        <th>投票数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>第<%= i %>位</td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.votes.count %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
<% end %>
<div class="detail">
  <h1 class="detail-title">商品一覧(登録順)</h1>
  <% if @restaurant.products.exists? %>
  <table class="detail-box">
    <thead>
      <tr>
        <th>商品名</th>
        <th>登録日</th>
        <th>投票数</th>
      </tr>
    </thead>
    <tbody>
    <% @restaurant.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= l product.created_at, format: :default %></td>
        <td><%= product.votes.count %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <% else %>
  <h4 style="text-align:center">登録済みの商品はまだありません。</h4>
  <% end %>
</div>
<div class="home-link">
  <%= link_to "レストラン一覧に戻る", restaurants_path %>
</div>
