<h1 class="title">レストラン詳細</h1>
<table class="box">
  <tr>
    <th>レストラン名</th>
    <td><%= @restaurant.name %></td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td><%= @restaurant.category %></td>
  </tr>
</table>
<h1 class="title">人気商品ランキング</h1>
<table class="box">
  <thead>
    <tr>
      <th>順位</th>
      <th>商品名</th>
      <th>投票数</th>
    </tr>
  </thead>
  <tbody>
  <% @restaurant.products.each do |product| %>
    <tr>
      <td>not yet</td>
      <td><%= link_to product.name, product %></td>
      <td><%= product.votes.count %></td>
    </tr>
  <% end %>
</table>
<% if user_signed_in? %>
  <%= form_with url: new_product_path do |f| %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
  <%= f.submit "商品を新規登録する", class: "btn btn-primary temp" %>
  <% end %>
<% else %>
  <%= link_to "商品を登録するにはログインしてください。", new_user_session_path %>
<% end %>
