<%= render 'layouts/flash_messages' %>
<h1 class="title">商品一覧(登録順)</h1>
<div class="sidemenu">
  <div class="sidemenu-contents">
    <h1 class="sidemenu-title">商品検索</h1>
    <%= search_form_for @search do |f| %>
      <%= f.text_field :name_cont , placeholder: "商品名を入力" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</div>
<table class="box">
  <thead>
    <tr>
      <th>商品名</th>
      <th>レストラン名</th>
      <th>カテゴリー</th>
      <th>投票数</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %></td>
      <td><%= link_to product.restaurant.name, product.restaurant %></td>
      <td><%= product.restaurant.category %></td>
      <td><%= product.votes.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render 'layouts/home_link' %>
