<div class="sidemenu">
  <div class="sidemenu-contents">
    <h1 class="sidemenu-title">投票する</h1>
    <% if user_signed_in? %>
      <%= button_to "投票", product_votes_path(@product), style: "padding:5px 50px" %>
    <% else %>
      <%= link_to "投票するにはログインしてください。", new_user_session_path %>
    <% end %>
  </div>
  <div class="sidemenu-contents">
    <h1 class="sidemenu-title">コメントを投稿</h1>
    <% if user_signed_in? %>
      <%= form_with model:[@product, @comment] do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.text_area :content, size: "30x5", class: "temp" %>
        <%= f.submit "コメント送信", class: "btn-sm btn-primary", style: "padding:5px 50px" %>
      <% end %>
    <% else %>
      <%= link_to "コメントするにはログインしてください。", new_user_session_path %> 
    <% end %>
  </div>
</div>
<div class="detail">
  <h1 class="detail-title">商品詳細</h1>
  <table class="detail-box">
    <tr>
      <th>商品名</th>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <th>レストラン名</th>
      <td><%= @product.restaurant.name %></td>
    </tr>
    <tr>
      <th>登録日</th>
      <td><%= l @product.created_at, format: :default %></td>
    </tr>
    <tr>
      <th>投票数</th>
      <td><%= @product.votes.count %></td>
    </tr>
  </table>
  <% if @product.image.present? %>
    <%= image_tag @product.image.url(:thumb) %>
  <% else %>
    <h1 class="ranking-image">No Image</h1>
  <% end %>
</div>
<div class="detail">
  <h1 class="detail-title">コメント一覧</h1>
  <% if @product.comments.exists? %>
  <table class="detail-box">
    <thead>
      <tr>
        <th>コメント</th>
        <th>投稿者</th>
        <th>投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user.name %></td>
        <td><%= l comment.updated_at, format: :default %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <h1 class="detail-title">コメントはまだありません</h1>
  <% end %>
</div>
<div class="home-link">
  <%= link_to "商品一覧に戻る", products_path %>
</div>
